<td class="name">{{restaurant.restaurant.name}}</td>

<td class="votes">
  <span *ngIf="restaurant.chosenBy.length == 0">No votes yet - be the first one to vote!</span>
  <span *ngIf="restaurant.chosenBy.length == 1">{{restaurant.chosenBy.length}} vote:</span>
  <span *ngIf="restaurant.chosenBy.length > 1">{{restaurant.chosenBy.length}} votes:</span>

  <span *ngIf="restaurant.chosenBy.length <= 2">{{joinVotes()}}</span>
  <span *ngIf="restaurant.chosenBy.length > 2">
    <span *ngIf="!expanded">{{joinVotes(2)}}, ... <a href (click)="toggleExpandedVotes()">show all</a></span>
    <span *ngIf="expanded">{{joinVotes()}} <a href (click)="toggleExpandedVotes()">show less</a></span>
  </span>
</td>
